body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}


article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


@keyframes  example {
  0% {background-color: red;}
  20% {background-color: yellow;}
  40% {background-color: green;}
  60% {background-color: blue;}
  80% {background-color: gray;}
  100% {background-color: pink;}
}
