
div.container {
    width: 460px;
    height: 500px;
    margin: 0 auto;
}

div.grid {
    width: 220px;
    height: 220px;
    line-height: 220px; /*文字高度跟元素高度一樣，文字就會上下置中*/
    margin: 5px auto;
    box-shadow: 5px 5px 5px #888888; /*方框的陰影*/
    background-color: yellow;
    display: inline-block;
    font-size: 30px;

    animation-name: example;
    animation-duration: 5s;
}
